* {
    margin:0px;
    padding:0px;
    }

header {
    text-align:center;
    background-image: url(../images/menu.jpg);
    opacity:0.6;
    background-size:cover;
    min-height:11em;
}
body {
    width:100%;
    background: rgba(76, 175, 80, 0.2)
    }

button {
    padding:0.5em 4em;
    border-radius:50px;
    background-color:yellow;
    text-align:center;
}
.button {
    margin-left:auto;
}

main {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:1em;
}

.top-container {
    position:absolute;
    top:0;
    margin-top:100px;
    margin-left:400px;
    text-align:center;
}

#outer-container { 
    display:flex;
    margin-left:200px;
    margin-right:auto;
}

#flex-container {
    display:flex;
    flex-wrap:wrap;
}


section {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
}

fieldset {
    margin-bottom:10px;
    flex:1;
}

label, legend {
    font-weight:bold;
}

div {
    margin:20px 10px;
}

legend {
    border:1px solid black;
    padding:0.5em 1.5em;
    background-color:aqua;
}

.h1 {
    color:darkred;
    font-size:2em;
}

.order {
    border:1px solid black;
    background-color:aquamarine;
    padding:10px;
}

.container {
    display:grid;
}
.food {
    border:1px solid red;
    text-align:center;
    font-size:1.5em;
    font-weight:bold;
}
.food1 {
    grid-column:1/span 1;
    grid-row:1/span 1;
}

.food2 {
    grid-column:2/span 1;
    grid-row:1/span 1;
}

.food3 {
    grid-column:3/span 1;
    grid-row:1/span1;
}

.food4 {
    grid-column:1/span 1;
    grid-row:2/span1;
}

.food5 {
    grid-column:2/span 1;
    grid-row:2/span1;
}

.food6 {
    grid-column:3/span 1;
    grid-row:2/span1;
}

footer {
    padding-left:0.5em;
    line-height:4em;
    clear:both;
    font-size:0.75em;
    color:white;
    background-color:grey;
    margin-top:0.5em;
}


.overall-container {
    margin:10px;
    text-align:center;
    font-size:1em;
    display:flex;
    margin-left:125px;
}

.register {
    border:1px solid black;
    padding:10px;
}
nav ul.main-menu {
    display:flex;
    background-color:black;
    color:white;
    justify-content:flex-start;
}

nav a {
    list-style-type:none;
    padding:0.5em;
    text-decoration: none;
    }
ul {
    list-style-type:none;
    }
nav a:link {
    color:white;
    }
nav a:visited {
    color:red;
    }
nav a:hover {
    color:black;
    background-color:white;
    }
nav a:active {
    color:red;
    }   
nav a {
    display:block;
    text-align:center;
    text-decoration:none;
    padding:0.5em;
    } 
nav ul {
    display:flex;
    justify-content:space-around;
    }
nav ul.main-menu {
    display:flex;
    justify-content: flex-start;
    }
